.bracket{
    display: flex;
    justify-content: space-between;
    color: azure;
    padding-top: 50px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
        @include media_up($small) {
            width: 1000px;
            justify-content: center;
            &__quart{
                width: 120px;
            }
            &__result{
                // width: 60px;
            }
        }
    &__result{
            flex-direction: column;
            display: flex;
            justify-content: space-around;
            align-items: center;
    }
    &__link{
        display: none;
        @include media_up($small) {
            display: block;
            padding-top: 90px;
            padding-bottom: 45px;
        }
    }
    &__link2{
        padding-top: 50px;
        @include media_up($small) {
            
            
        }

    }
    &__fight{
        // border: 1px solid white;
        margin-bottom: 80px;
        @include media_up($small) {
            // border: 1px solid white;
        }
        
    }
    &__team{
        border: 2px solid #0b224a;
        border-radius: 5px;
        padding: 2px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        background-color: black;
        @include media_up($small) {
            border: 2px solid #0b224a;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 50px;
        }
    }
    &__teamR{
        border: 2px solid #0b224a;
        border-radius: 5px;
        padding: 2px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        background-color: black;
        @include media_up($small) {
            border: 2px solid #0b224a;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
        }
    }

    &__demi{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include media_up($small) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // 
            &__result{
                // width: 60px;
            }
        }

    }
    &__final{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include media_up($small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__result{
                // width: 60px;
            }
        }
    }
    &__bloc{
        display: flex;
    }
}
.groupe{
    display: flex;
    justify-content: center;
    color: azure;
    margin: 2px 5px 20px 5px;
    @include media_up($small) {
        margin: 2px 20px 20px 5px;
    }
}

table {
    border: medium solid #0b224a;
    border-collapse: collapse;
    width: 320px;
    text-align: center;
    }

td, th {
    border: thin solid #0b224a;
    // border-radius: 15%;
    width: 55px;
    height: 50px;
    padding: 3px;
    background-color: black;
    }
caption{
    padding: 8px;
    border: medium solid #0b224a;
    border-radius: 50px;
    background-color: black;
    margin-bottom: 10px;
}
.title{
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 40px;
    font-size: 30px;
    @include media_up($small) {
        display: flex;
        justify-content: space-around;
        width: 635px;
        margin-top: 40px;
        font-size: 30px;
        margin-right: 45px;

    }
}
.mid{
    background-color: #0086B0;
}

.separation{
    height: 180px;
    width: 70px;
    @include media_up($small) {
        height: 180px;
        width: 70px;
    }
}

.surv{
    color: darkgoldenrod;
}
.killer{
    color: brown;
}
.qual{
    background-color: green;
}
