* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    &:focus {
        outline: none;
    }
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
}
li {
    color: #262626;
    font-weight: 900;
    text-decoration: none;
}

ul {
    padding: 0 0 0 calculateRem(17px);
}

p{
    margin: 4px 0px 4px 0px;
}
h1, h2, h3, h4{
    color: #fff;
    font-family: 'Bangers', cursive;
}